[submodule "core"]
	path = modules/core
	url = git@ap.git:AnandPilania/f3-module-core
[submodule "cli"]
	path = modules/cli
	url = git@ap.git:AnandPilania/f3-module-cli
[submodule "installer"]
	path = modules/installer
	url = git@ap.git:AnandPilania/f3-module-installer
[submodule "auth"]
	path = modules/auth
	url = git@ap.git:AnandPilania/f3-module-auth
[submodule "oauth"]
	path = modules/oauth
	url = git@ap.git:AnandPilania/f3-module-oauth
[submodule "blogger"]
	path = modules/blogger
	url = git@ap.git:AnandPilania/f3-module-blogger